docs/index.html
<!DOCTYPE html><html lang="en"><head><title>Simple Accordion</title><meta name="robots" content="noindex, follow"><link rel="stylesheet" type="text/css" href="assets/fonts/stylesheet.css"><link rel="stylesheet" type="text/css" href="assets/css/brackets.css"><link rel="stylesheet" type="text/css" href="assets/css/main.css"><link rel="stylesheet" type="text/css" href="assets/css/theme.css"><link rel="stylesheet" type="text/css" href="assets/css/select.css"><link rel="shortcut icon" type="image/ico" href="assets/img/sv_favicon.ico"><script type="text/javascript" src="assets/js/main.js"></script><script type="text/javascript" src="assets/js/rainbow.linenumbers.min.js"></script><script type="text/javascript" src="assets/js/rainbow-custom.min.js"></script><meta name="viewport" content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0"></head><body class="light"><div id="wrapper"><div class="max-width"><div id="sideNav"><div class="combo"><select class="topdoc-select" id="docNav"><option value="" selected="selected">Simple Accordion</option><option value="sticky-bottom.html">Sticky Bottom</option><option value="typeahead.html">Typeahead</option></select></div><div id="pageNav"><ul><li><a href="#simple-accordion">Simple Accordion</a></li></ul></div></div></div><div id="site"><header id="main-header"><div class="max-width"><hgroup><h1>Code Snippet</h1></hgroup><a class="topcoat-icon-button--large--quiet" id="slide-menu-button"><span class="topcoat-icon--large topcoat-icon--menu-stack"></span></a></div></header><div class="max-width" id="content"><article class="component" id="simple-accordion"><header><h2>Simple Accordion</h2><p>accordion widget, no jquery, animated close button</p></header><div class="componentframe-links"><a href="iframes/simple-accordion.html" target="_blank">Open a new tab</a></div><div class="componentframe-info"><div class="componentframe-info-width"></div><div class="componentframe-info-height"></div></div><div class="componentframe clearfix"><iframe src="iframes/simple-accordion.html"></iframe></div><footer><div class="showcode"><a href="#">Show snippet code</a></div><section class="code"><div><h3><span>HTML</span><a class="copy-to-clipboard" href="#">Copy</a></h3><pre class="html"><code data-language="html">&lt;div class=&quot;simple-accordion&quot;&gt;
    &lt;h2 class=&quot;simple-accordion__heading js-simple-accordion-heading&quot;&gt;What is an escape room exactly?&lt;/h2&gt;
    &lt;div class=&quot;simple-accordion__panel&quot;&gt;
        &lt;p&gt;Escape room games are a real-life puzzle experience where a small team is trapped in a room and must solve several clues and riddles in an allocated time to exit the room.&lt;/p&gt;
    &lt;/div&gt;
    &lt;h2 class=&quot;simple-accordion__heading js-simple-accordion-heading&quot;&gt;What is an escape room exactly?&lt;/h2&gt;
    &lt;div class=&quot;simple-accordion__panel&quot;&gt;
        &lt;p&gt;Escape room games are a real-life puzzle experience where a small team is trapped in a room and must solve several clues and riddles in an allocated time to exit the room.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre></div></section></footer></article></div><footer></footer></div></div></body></html>

templates/topdoc/index.jade
doctype html
html(lang="en")
	head
		title=document.title

		meta(name="robots", content="noindex, follow")

		link(rel='stylesheet', type='text/css', href=`assets/fonts/stylesheet.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/brackets.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/main.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/theme.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/select.css`)

		link(rel='shortcut icon' type='image/ico' href=`assets/img/sv_favicon.ico`)

		script(type="text/javascript", src=`assets/js/main.js`)
		script(type="text/javascript", src=`assets/js/rainbow.linenumbers.min.js`)
		script(type="text/javascript", src=`assets/js/rainbow-custom.min.js`)

		meta(name="viewport", content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0")

	body.light
		#wrapper
			.max-width
				#sideNav
					div.combo
						select#docNav.topdoc-select
							each file in document.files
								if file.current
									option(value='', selected="selected")=file.title
								else if file.first
									option(value='index.html')=file.title
								else
									option(value=`${file.filename}`)=file.title
					#pageNav
						ul
							each component in document.components
								li: a(href='#'+component.slug)=component.name
			#site
				header#main-header
					.max-width
						hgroup
							h1=document.templateData.project.name
						a#slide-menu-button.topcoat-icon-button--large--quiet
							span.topcoat-icon--large.topcoat-icon--menu-stack
				#content.max-width
					each component in document.components
						article.component(id=component.slug)
							header
								h2=component.name
								if(component.description)
									p=component.description
							.componentframe-links
								a(href=component.iframe_path, target="_blank") Open a new tab
							.componentframe-info
								.componentframe-info-width
								.componentframe-info-height
							.componentframe.clearfix
								iframe(src=component.iframe_path)
							footer
								div.showcode
									a(href="#") Show snippet code
								section.code
									div
										h3
											span HTML
											a.copy-to-clipboard(href="#") Copy
										pre.html
											code(data-language="html")=component.markup
				footer
